<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qufu.mapper.ImgMapper">
    <insert id="ImgInsert" parameterType="Img">
        INSERT INTO `images` (img1,img2,img3,img4,rid) VALUES (#{img1},#{img2},#{img3},#{img4},#{rid})
    </insert>

</mapper>