<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qufu.mapper.VcommentMapper">
    <select id="Select" parameterType="int" resultType="Vcomment">
        select * from vcomment where vcid=#{vcid};
    </select>
    <select id="SelectVcc" resultType="int">
        select count(*) from vccomment where vcid=#{vcid};
    </select>
    <select id="SelectLike" resultType="int">
        select count(*) from vlike where vcid=#{vcid} and vlike='true';
    </select>
    <select id="Selectbol" resultType="String">
        SELECT vlike from vlike where id=#{id} and vcid=#{vcid}
    </select>
    <select id="SelectAll" resultType="Vcomment">
        select v.vcid,v.vctext,v.vcdate,v.videoid,v.id,u.name,u.src
        from vcomment v,user u
        where u.id=v.id and v.videoid =#{videoid}
    </select>
    <insert id="addComment" parameterType="Vcomment">
        insert into vcomment (videoid,vcdate, vctext, id) values (#{videoid},#{vcdate},#{vctext},#{id})
    </insert>
    <!--   查询点赞
         1.查询是否登记过
         2.没有进行添加
         3.有更新操作
     -->

    <select id="selectlike" resultType="Integer">
        SELECT vlid from vlike where vcid=#{vcid} and id=#{id}
    </select>
    <insert id="addlike">
        insert into vlike(vcid, vlike, id) values (#{vcid},#{vlike}, #{id})
    </insert>
    <update id="uplike">
        update vlike set vlike=#{vlike} where vcid=#{vcid} and id=#{id}
    </update>
    <delete id="deleteVcc">
        delete from vcomment where vcid=#{vcid} and id=#{id}
    </delete>
    <delete id="deleteLike">
        delete from vlike where vcid=#{vcid}
    </delete>
    <delete id="deleteLike2">
        delete from vlike2 where vcid=#{vcid}
    </delete>
    <delete id="deleteVccomment">
        delete from vccomment where vcid=#{vcid}
    </delete>
    <delete id="deleteVid">
        delete from vcomment where videoid=#{videoid}
    </delete>
</mapper>